ubody,
button,
input,
select,
textarea {
	font-family: sans-serif;
}

input::file-selector-button {
	font-family: sans-serif;
}

input[type=text],
textarea {
	font-size: inherit;
}

.flex {
	display:flex;
}

h1 {
	font-weight: normal;
	font-size: x-large;
}

h2 {
	font-size: large;
}

frame,
body,
.more-content {
	background-color: #fcfcfc;
}

.status-container-container {
	background-color: #e8e8e8;
	margin: 8px 0;
	padding: 12px 4px;
	border-left: 4px solid transparent;
}

.status-container-container,
.retweet-container .status-container-container {
    margin: 0.3em 0 8px auto;
}

.notification-container {
    background-color: #d5d5d5;
    margin: 0.3em 0 0.3em auto;
}

.notification-container .retweet-container {
    margin: 4px;
}

.notification-container .status-container-container {
    margin: 0;
}

#subject-header-box {
	box-sizing: border-box;
	overflow:auto;
	width: 100%;
}

.post-flex {
	display: flex;
	flex-direction: column;
	overflow: auto;
	resize: both
}

label[for=nsfw-checkbox] {
    font-size: small;
}

.post-form-attachment-edit {
	display: flex;
	flex-flow: row nowrap;
	object-fit: scale-down;
	overflow: auto;
	align-items: center stretch;
	max-width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	gap: 2px;
}

.post-form-attachment-edit-alt {
	resize: none;
	flex-grow: 1;
	min-height: 5em;
	max-width: 100%;
	margin: 0;
	align-content: center;
	justify-content: center;
}

.post-form-attachment-edit-image, .post-form-attachment-edit-video {
	height: auto;
	width: auto;
	min-width: 0;
	min-height: 0;
	max-width: 25vw;
	margin: 0;
}

.post-form-attachment-edit-audio {
	min-width: auto;
}

.post-form-attachment-edit-dropdown > summary {
	user-select: none;
	cursor: pointer;
	margin-bottom: 4px;
}

.post-form-edit-upload-warning {
	font-size: 0.8em;
}

.status-container-container.highlight {
	background-color: #d3d3d3;
	background-color: #cfcfcf99;
}

.status-container-container:target {
	border-left: 4px solid #777777;
}

.status-container {
	position: relative;
}

.status-content {
	margin: 4px 0;
	max-height: 600px;
	overflow: auto;
	overflow-wrap: break-word;
}

.status-content-text .plain {
	white-space: pre-wrap;
}

.status-nsfw-attachment-dropdown summary {
	font-weight: bold;
	font-size:1.1em;
	user-select: none;
	cursor: pointer;
}

.status-name {
	overflow-wrap: break-word;
}

.status-content-text {
    white-space: pre-wrap;
}

.status-content p {
	margin-top: 0;
}

.status-content p:last-child,
.status-content-text p:last-child {
    margin-bottom: 0;
}

.status-content img,
.status-image,
.status-video {
	height: auto;
	width: auto;
	max-height: 240px;
	max-width: 280px;
	vertical-align: bottom;
	object-fit: contain;
}

.status-media-container {
	margin: 4px 0;
	overflow: auto;
}

.status-image-container,
.status-video-container {
	display: inline-block;
	position: relative;
	margin: 2px 4px 2px 0;
}

.status-profile-img-container {
	position: absolute;
}

.status-profile-img {
	height: 48px;
	width: 48px;
	min-height: 48px;
	min-width: 48px;
	max-height: 48px;
	max-width: 48px;
	vertical-align: top;
	object-fit: contain;
}

.user-list-profile-img .img-link,
.status-profile-img-container .img-link {
	width: 48px;
	overflow: hidden;
}

.retweet-info .img-link {
	margin: 0;
}

.status {
	margin-left: 56px;
}

.status-action, .status-action a {
	display: inline-block;
}

.status-action {
	margin-right: 16px;
}

.status-action-last {
	margin-right: 4px;
}

.status-action a.status-time {
	width: min-content;
}

.retweet-info {
	margin: 0 0 4px 24px;
	overflow-wrap: break-word;
	font-size: smaller;
}

.retweet-info>* {
	vertical-align: middle;
}

.retweet-info .status-profile-img {
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
	max-height: 24px;
	max-width: 24px;
	vertical-align: middle;
}

.notification-container .retweet-info {
    padding: 4px;
    margin: 0;
}

.notification-container.unread .status-container-container {
    padding-left: 8px;
}

textarea {
	padding: 4px;
	box-sizing: border-box;
	width: 644px;
	max-width: 100%;
}

.post-content {
	width: 100%;
	height: 100%;
	resize: none;
}

.monospace {
	font-family: monospace;
}

.pagination {
	margin: 12px 4px;
}

.pagination a {
	text-decoration: none;
	margin: 0 8px;
	font-size: large;
}

.notification-container.unread {
    border-left: 4px solid #777777;
}

.status-reply-to-link,
.status-reply-link,
.status-reply-text {
	font-size: smaller;
}

.status-reply-container {
	overflow-wrap: break-word;
	position: relative;
}

.status-reply-info-divider {
	margin: 0 4px;
}

.user-profile-img-container {
	display: inline-block;
	margin: 0 4px 4px 0;
}

.user-profile-img-container .img-link {
	width: 96px;
	overflow: hidden;
}

.user-profile-details-container {
	display: inline-block;
	vertical-align: top;
}

.user-profile-details-container>div {
	margin-bottom: 4px;
}

.user-profile-img {
	height: 96px;
	width: 96px;
	vertical-align: top;
	object-fit: contain;
}

.user-profile-description,
.user-fields {
	overflow-wrap: break-word;
	margin: 8px 0;
}

.user-profile-description p {
	margin: 0;
}

.user-profile-description img {
	height: auto;
	width: auto;
	max-height: 240px;
	max-width: 280px;
	object-fit: contain;
}

.d-inline {
	display: inline;
}

.btn-link {
	outline: none;
	cursor: pointer;
	padding: 0;
	font-size: inherit;
	background: none !important;
	border: none !important;
}

a,
.btn-link {
	color: #1449af;
	text-decoration-thickness: from-font;
	text-decoration: underline;
}

a:hover,
.btn-link:hover {
	color: #4489bf;
}

.btn-link:disabled {
	color: #666666;
	cursor: unset;
	text-decoration: line-through;
}

*:focus-visible {
	outline: 1px solid #000000;
}

.remote-link {
	margin-left: 4px;
	font-size: smaller;
}

.img-link {
	display: inline-block;
}

.emoji-item-container {
	width: 220px;
	display: inline-block;
	margin: 4px 4px 0 0;
	overflow: hidden;
	padding: 4px;
	background-color: #f0f0f0;
	background-color: #eaeaea99;
}

.emoji-item {
	display: flex;
	align-items: center;
}

img.emoji {
	height: auto;
	width: auto;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	vertical-align: middle;
	object-fit: contain;
	margin: 0;
}

.status-dname {
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-dname img.emoji {
	height: 20px;
	min-height: 20px;
	min-width: 20px;
}

.retweet-info>.status-dname img.emoji {
	height: 16px;
	min-height: 16px;
	min-width: 16px;
}

.emoji-shortcode {
	margin-left: 4px;
}

.nav-container {
	position: relative;
	margin-bottom: 4px;
}

.nav-profile-img-container {
	position: absolute;
}

.nav-profile-img {
	height: 64px;
	width: 64px;
	vertical-align: middle;
	object-fit: contain;
}

.nav-link-container {
	margin-left: 72px;
}

nav ul {
	list-style: none;
	margin: 4px 0;
	padding: 0;
}

nav li {
	display: inline;
}

.nav-link {
	margin-right: 2px;
}

.nav-profile-link {
	margin-right: 2px;
	font-size: smaller;
}

.user-list-item {
	overflow: auto;
	margin: 0 0 4px 0;
	padding: 4px;
	display: flex;
	align-items: center;
}

td .user-list-item {
	padding: 0;
}

.user-list-profile-img {
	margin: 0 8px 0 0;
}

.user-list-action {
	margin: 0 12px;
}

.form-field {
	margin-bottom: 8px;
}

.form-field-s {
	margin-bottom: 4px;
}

.status-container {
	display: flex;
}

.emoji-link {
	margin-left: 4px;
}

#reply-popup,
#reply-to-popup {
	background-color: #f0f0f0;
	border: 1px solid #bababa;
	position: absolute;
	padding: 4px 8px;
	z-index: 3;
	margin: 0;
}

.hover-menu {
	text-decoration-thickness: from-font;
	text-decoration: underline dotted;
}

.more-container {
	position: relative;
	display: inline-block;
}

.more-content {
	position: absolute;
	display: none;
	padding: 2px 4px;
	z-index: 1;
	border: 1px solid #bababa;
}

.more-container:hover .more-content {
	display: block;
}

.more-link {
	font-size: smaller;
	display: block;
	margin: 2px;
}

.status-poll {
	margin: 4px 0;
	overflow: auto;
	overflow-wrap: break-word;
}

.page-link {
	font-size: large;
}

kbd {
	padding: 2px 4px;
	background-color: #f0f0f0;
	border: 1px solid #bababa;
}

td {
	padding: 2px 4px;
}

#img-preview {
	pointer-events: none;
	z-index: 2;
	position: fixed;
}

blockquote {
	margin: 4px 20px;
	border-left: 2px solid #3e7300;
	padding-left: 12px;
}

blockquote,
.quote {
	color: #3e7300;
}

.profile-img-container {
	margin: 4px 0;
}

.profile-avatar {
	height: 96px;
	width: 96px;
	object-fit: contain;
	vertical-align: middle;
}

.profile-banner {
	height: 120px;
	vertical-align: middle;
}

.block-label {
	margin: 0 0 4px 0;
}

.input-w {
	width: 320px;
	max-width: 100%;
	box-sizing: border-box;
}

.follow-request-actions {
	margin-top: 4px;
}

.hidden {
	display: none;
}

input[type=text],
textarea {
	border: 2px solid #bababa;
}

input[type=submit],
button,
select,
input::file-selector-button {
	background-color: #eaeaea;
	border: 2px solid #bababa;
}

input[type=text]:hover,
textarea:hover {
	border: 2px solid #8b8b8b;
}

input[type=submit]:hover,
button:hover,
select:hover,
input::file-selector-button:hover {
	background-color: #dfdfdf;
	border: 2px solid #8b8b8b;
}

input[type=submit]:active,
button:active,
select:active,
input::file-selector-button:active {
	background-color: #cacaca;
}

input[type=submit]:disabled,
button:disabled,
select:disabled,
input:disabled::file-selector-button {
	color: #666666;
	background-color: #eaeaea;
	border: 2px solid #bababa;
}