{{- with .Data}}
{{- template "header.tmpl" $.Ctx}}
<h1>Lists</h1>
{{- if .Lists}}
<table>
{{- range .Lists}}
	<tr>
		<td><a href="/timeline/list?list={{.ID}}">{{.Title}} timeline</a></td>
		<td>
			<form action="/list/{{.ID}}" method="GET">
				<button type="submit">Edit</button>
			</form>
		</td>
		<td>
			<form action="/list/{{.ID}}/remove" method="POST">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
				<button type="submit">Delete</button>
			</form>
		</td>
	</tr>
{{- end}}
</table>
{{- else}}
<p>No data found</p>
{{- end}}
<h1>Add list</h1>
<form action="/list" method="POST">
	<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
	<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
	<label for="title">Title</label>
	<input id="title" name="title" required>
	<button type="submit"> Add </button>
</form>
{{- template "footer.tmpl"}}
{{- end}}