{{with .Data}}
<form class="post-form" {{if .EditContext}}action="/edit"{{else}}action="/post"{{end}} method="POST" enctype="multipart/form-data" target="_self">
	<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
	<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
	{{if .ReplyContext}}
		<input type="hidden" name="reply_to_id" value="{{.ReplyContext.InReplyToID}}">
		<input type="hidden" name="quickreply" value="{{.ReplyContext.QuickReply}}">
		<label for="post-content">Reply to @{{.ReplyContext.InReplyToName}}</label>
	{{else if .EditContext}}
		<input type="hidden" name="id" value="{{.EditContext.Status.ID}}">
		<input type="hidden" name="edit" value="true"/>
		{{if .EditContext.Status.InReplyToID}}
			<label for="post-content" class="post-form-title">Editing reply</label>
		{{else}}
			<label for="post-content" class="post-form-title">Editing tweet</label>
		{{end}}
	{{else}}
		<label for="post-content">New post</label>
	{{end}}
	<a class="emoji-link" href="/emojis" target="_blank" title="Emoji list (L)" accesskey="L">emoji list</a>
	<div class="form-field-s post-flex">
		<input id="subject-header-box" type="text" name="subject" class="subject-header-box" cols="34" rows="1" accesskey="h" title="Edit subject header (H)" {{if .EditContext}}value="{{.EditContext.Source.SpoilerText}}"{{else if .ReplyContext}}value="{{.ReplyContext.ReifiedSubjectHeader}}"{{end}}></input>
		<textarea id="post-content" name="content" class="post-content" cols="34" rows="5" accesskey="E" title="Edit post (E)">{{if .EditContext}}{{.EditContext.Source.Text}}{{else if .ReplyContext}}{{.ReplyContext.ReplyContent}}{{end}}</textarea>
	</div>
	<div class="form-field-s">
		{{- if and .Formats .Pleroma}}
		{{- $defFormat := .DefaultFormat}}
		{{- if .EditContext}}
			{{- $defFormat = .EditContext.Source.ContentType}}
		{{- end}}
		<select id="post-format" name="format" accesskey="F" title="Format (F)">
			{{- range .Formats}}
				<option value="{{.Type}}" {{if eq $defFormat .Type}}selected{{end}}>{{.Name}}</option>
			{{- end}}
		</select>
		{{- end}}
		<select id="post-visilibity" name="visibility" {{if or (and .ReplyContext .ReplyContext.ForceVisibility) .EditContext}}disabled{{end}} accesskey="S" title="Scope (S)">
			<option value="public" {{if eq .DefaultVisibility "public"}}selected{{end}}>Public</option>
			<option value="unlisted" {{if eq .DefaultVisibility "unlisted"}}selected{{end}}>Unlisted</option>
			<option value="local" {{if eq .DefaultVisibility "local"}}selected{{end}}>Local</option>
			<option value="private" {{if eq .DefaultVisibility "private"}}selected{{end}}>Private</option>
			<option value="direct" {{if eq .DefaultVisibility "direct"}}selected{{end}}>Direct</option>
		</select>
		<input type="checkbox" id="nsfw-checkbox" name="is_nsfw" value="true" accesskey="N" title="NSFW (N)" {{if and (.EditContext) (.EditContext.Status.Sensitive)}}checked{{end}}>
		<label for="nsfw-checkbox">Mark attachments as sensitive</label>
	</div>
	{{- if and .EditContext (not (eq (len .EditContext.Status.MediaAttachments) 0))}}
	<details class="post-form-attachment-edit-dropdown">
	<summary>image descriptions</summary>
	<div class="post-form-attachment-edit-area">
	{{- range $i, $a := .EditContext.Status.MediaAttachments }}
		<div class="post-form-attachment-edit">
			<div class="post-form-attachment-edit-file">
				{{- if eq .Type "image"}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[image{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<a class="img-link" href="{{.URL}}" target="_blank" title="{{.Description}}">
					<img class="post-form-attachment-edit-image" src="{{.PreviewURL}}" alt="status image" height="240" />
				</a>
				{{- end}}
				{{- else if eq .Type "audio"}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[audio{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<audio class="post-form-attachment-edit-audio" controls title="{{.Description}}">
					<source src="{{.URL}}">
					<a href="{{.URL}}" target="_blank"> [audio] </a>
				</audio>
				{{- end}}
				{{- else if eq .Type "video"}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[video{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<div class="status-video-container" title="{{.Description}}">
					<video class="post-form-attachment-edit-video" controls height="240">
						<source src="{{.URL}}">
						<a href="{{.URL}}" target="_blank"> [video] </a>
					</video>
				</div>
				{{- end}}

				{{- else}}
				<a href="{{.URL}}" target="_blank"> 
					[attachment{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- end}}
			</div>
			<input type="hidden" name="media_ids" value="{{$a.ID}}">
			<textarea name="alt_text" class="post-form-attachment-edit-alt" cols="34" rows="5">{{$a.Description}}</textarea>
		</div>
	{{-  end }}
	</div>
	</details>
	{{-  end }}
	<div class="form-field-s">
		<input id="post-file-picker" type="file" name="attachments" multiple accesskey="A" title="Attachments (A)"> {{if and .EditContext (not (eq (len .EditContext.Status.MediaAttachments) 0))}}<aside class="post-form-edit-upload-warning">(if files are uploaded, any existing attachments will be removed and replaced)</aside>{{end}}
	</div>
	<div class="form-field-s">
		<button type="submit" accesskey="P" title="Post (P)">Post</button>
		<button type="reset" title="Reset">Reset</button>
	</div>
</form>
{{end}}