{{- with .Data}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
	{{- if and .Settings .Settings.CSS}}
	<link rel="stylesheet" href="/session/css?stamp={{.Settings.Stamp}}">
	{{- end}}
	{{- if .Settings.Theme}}
	<link rel="stylesheet" href="/theme/{{.Settings.Theme}}?stamp={{.Conf.AssetStamp}}">
	{{- else}}
	<link rel="stylesheet" href="/theme/{{defaultTheme}}?stamp={{.Conf.AssetStamp}}">
	{{- end}}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
	<link rel="icon" type="image/png" href="/static/favicon.png?stamp={{.Conf.AssetStamp}}">
	<title>{{.Title}}</title>
</head>
<frameset cols="424px,*">
	<frameset rows="327px,*">
		<frame name="nav" src="/nav">
		<frame name="notification" src="/notifications">
	</frameset>
	<frame name="main" src="/timeline/home">
</frameset>
</html>
{{end}}