{{- with .Data}}
{{- if .Reblog}}
<div class="retweet-container">
<div class="retweet-info">
	<a class="img-link" href="/user/{{.Account.ID}}">
		<img class="status-profile-img" src="{{.Account.Avatar}}" title="@{{.Account.Acct}}" alt="@{{.Account.Acct}}" height="24">
	</a>
	<bdi class="status-dname">{{EmojiFilter (HTML .Account.DisplayName) .Account.Emojis | Raw}}</bdi>
	<a href="/user/{{.Account.ID}}" class="status-dname">@{{.Account.Acct}}</a>
	<span>retweeted</span>
</div>
{{- template "status" (WithContext (wrapRawStatus .Reblog) $.Ctx)}}
</div>
{{- else}}
{{- block "status" (WithContext . $.Ctx)}}
{{- with $s := .Data}}
<article id="status-{{.ID}}" class="status-container-container">
	<div class="status-container status-{{.ID}}{{if .History}} status-history{{end}}" data-id="{{.ID}}">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}">
				<img class="status-profile-img" src="{{.Account.Avatar}}" title="@{{.Account.Acct}}" alt="@{{.Account.Acct}}" height="48">
			</a>
		</div>
		<div class="status"> 
			<div class="status-name">
				<bdi class="status-dname"> {{EmojiFilter (HTML .Account.DisplayName) .Account.Emojis | Raw}} </bdi>
				<a class="status-uname" href="/user/{{.Account.ID}}">@{{.Account.Acct}}</a>
				<div class="more-container">
					<div class="remote-link">
						<span class="more-text {{if not .History}}hover-menu{{end}}">
						{{- if .No}}#{{- .No}}{{- end}} {{ .Visibility}}
						</span>
					</div>
					{{- if not .History}}
					<div class="more-content">
						<a class="more-link" href="{{.URL}}" target="_blank">source</a>
						<a class="more-link" href="/quickreply/{{.ID}}#status-{{.ID}}">quickreply</a>
						{{- if .Muted}}
						<form action="/unmuteconv/{{.ID}}" method="post" target="_self">
							<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
							<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
							<input type="submit" value="unmute" class="btn-link more-link">
						</form>
						{{- else}}
						<form action="/muteconv/{{.ID}}" method="post" target="_self">
							<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
							<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
							<input type="submit" value="mute" class="btn-link more-link">
						</form>
						{{- end}}
						{{- if eq $.Ctx.UserID .Account.ID}}
							<a class="more-link" href="/thread/{{.ID}}?edit=true#status-{{.ID}}">edit</a>
							{{- if .Pinned}}
							<form action="/unpin/{{.ID}}" method="post" target="_self">
								<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
								<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
								<input type="submit" value="unpin" class="btn-link more-link">
							</form>
							{{- else}}
							<form action="/pin/{{.ID}}" method="post" target="_self">
								<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
								<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
								<input type="submit" value="pin" class="btn-link more-link">
							</form>
							{{- end}}
						{{- end}}
						{{- if .Bookmarked}}
						<form action="/unbookmark/{{.ID}}" method="post" target="_self">
							<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
							<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
							<input type="hidden" name="retweeted_by_id" value="{{ if .Reblog }}{{.Account.ID}}{{end}}">
							<input type="submit" value="unbookmark" class="btn-link more-link">
						</form>
						{{- else}}
						<form action="/bookmark/{{.ID}}" method="post" target="_self">
							<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
							<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
							{{- if .Reblog}}
							<input type="hidden" name="retweeted_by_id" value="{{.Acct.ID}}">
							{{- end}}
							<input type="submit" value="bookmark" class="btn-link more-link">
						</form>
						{{- end}}
						{{- if eq $.Ctx.UserID .Account.ID}}
						<form action="/delete/{{.ID}}" method="post" target="_self">
							<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
							<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
							<input type="submit" value="delete" class="btn-link more-link">
						</form>
						{{- end}}
					</div>
					{{- end}}
				</div>
			</div>
			{{if (and .InReplyToID .ShowReplies)}}
			<div class="status-reply-container">
				{{- if .InReplyToID}}
				<a class="status-reply-to-link" href="{{if not .ShowReplies}}/thread/{{.InReplyToID}}{{end}}#status-{{.InReplyToID}}"> 
					 in reply to {{if .InReplyToNo}}#{{.InReplyToNo}}{{end}} {{if and (.Pleroma) (.Pleroma.InReplyToAccountAcct)}}@{{.Pleroma.InReplyToAccountAcct}}{{else if not .InReplyToNo}}a post{{end}}
				</a>
				{{- if .Replies}} <span class="status-reply-info-divider"> - </span> {{- end}}
				{{- end}}
				{{- if .ShowReplies}}
				{{- if .Replies}} <span class="status-reply-text"> replies: </span> {{- end}}
				{{- range .Replies}}
				<a class="status-reply-link" href="#status-{{.ID}}">#{{.No}}</a>
				{{- end}}
				{{- end}}
			</div>
			{{- end}}
			{{- if (or .Content .SpoilerText)}}
			<div class="status-content">
				{{- if .SpoilerText}}
				<div class="status-subject-header">
				{{- EmojiFilter (HTML .SpoilerText) .Emojis | Raw}}<br>
				</div>
				{{- end}}
				<span class="status-content-text">{{StatusContentFilter .Content .Emojis .Mentions | Raw}}</span>
			</div>
			{{- end}}
			{{- if .MediaAttachments}}
			{{- if (and $.Ctx.Settings.MaskNSFW $s.Sensitive)}}
			<details class="status-nsfw-attachment-dropdown">
			<summary>attachments marked as sensitive</summary>
			{{- end}}
			<div class="status-media-container">
				{{- range .MediaAttachments}}
				{{- if eq .Type "image"}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[image{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<a class="img-link" href="{{.URL}}" target="_blank" title="{{.Description}}">
					<img class="status-image" src="{{.PreviewURL}}" alt="status-image" height="240" />
				</a>
				{{- end}}
				{{- else if eq .Type "audio"}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[audio{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<audio class="status-audio" controls title="{{.Description}}">
					<source src="{{.URL}}">
					<a href="{{.URL}}" target="_blank"> [audio] </a>
				</audio>
				{{- end}}
				{{- else if or (eq .Type "video") (eq .Type "gifv")}}
				{{- if $.Ctx.Settings.HideAttachments}}
				<a href="{{.URL}}" target="_blank">
					[video{{if $s.Sensitive}}/nsfw{{end}}{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- else}}
				<div class="status-video-container" title="{{.Description}}">
					<video class="status-video" {{if eq .Type "video"}}controls{{else}}loop autoplay{{end}} height="240">
						<source src="{{.URL}}">
						<a href="{{.URL}}" target="_blank">[video]</a>
					</video>
					{{if (and $.Ctx.Settings.MaskNSFW $s.Sensitive)}}
					<div class="status-nsfw-overlay"></div>
					{{end}}
				</div>
				{{- end}}
				{{- else}}
				<a href="{{.URL}}" target="_blank"> 
					[attachment{{if .Description}}: {{.Description}}{{end}}]
				</a>
				{{- end}}
				{{- end}}
			</div>
			{{- end}}
			{{- if (and $.Ctx.Settings.MaskNSFW $s.Sensitive)}}
			</details>
			{{- end}}
			{{- if .Poll}}
			<form class="status-poll" action="/vote/{{.Poll.ID}}" method="POST" target="_self">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
				<input type="hidden" name="status_id" value="{{$s.ID}}">
				{{- range $i, $o := .Poll.Options}}
				<div class="form-field-s">
					{{- if (or $s.Poll.Expired $s.Poll.Voted)}}
					<div>{{EmojiFilter (HTML $o.Title) $s.Emojis | Raw}} - {{$o.VotesCount}} votes</div>
					{{- else}}
					<input type="{{if $s.Poll.Multiple}}checkbox{{else}}radio{{end}}" name="choices" 
						id="poll-{{$s.ID}}-{{$i}}" value="{{$i}}">
					<label for="poll-{{$s.ID}}-{{$i}}"> 
						{{EmojiFilter (HTML $o.Title) $s.Emojis | Raw}}
					</label>
					{{- end}}
				</div>
				{{- end}}
				{{- if not (or .Poll.Expired .Poll.Voted)}}
				<div class="form-field-s">
					<button type="submit">Vote</button>
				</div>
				{{- end}}
				<div>
					<span>{{.Poll.VotesCount}} votes</span>
					{{- if .Poll.Expired}}
					<span> - poll expired </span>
					{{- else if .Poll.ExpiresAt}}
					<span>
						- poll ends in
						<time datetime="{{FormatTimeRFC3339 .Poll.ExpiresAt}}" title="{{FormatTimeRFC822 .Poll.ExpiresAt}}"> 
							{{- TimeUntil .Poll.ExpiresAt}} 
						</time> 
					</span>
					{{- end}}
				</div>
			</form>
			{{- end}}
			<div class="status-action-container"> 
				{{- if not .History}}
				<div class="status-action">
					<a href="/thread/{{.ID}}?reply=true#status-{{.ID}}">reply</a>
					<a class="status-reply-count" href="/thread/{{.ID}}#status-{{.ID}}" {{if $.Ctx.Settings.ThreadInNewTab}}target="_blank"{{end}}>
						{{- if and (not $.Ctx.Settings.AntiDopamineMode) .RepliesCount}}
							({{DisplayInteractionCount .RepliesCount}})
						{{- end}}
					</a>
				</div>
				<div class="status-action">
					{{- $rt := "retweet"}} {{- if .Reblogged}} {{- $rt = "unretweet"}} {{- end}}
					<form class="status-retweet" data-action="{{$rt}}" action="/{{$rt}}/{{.ID}}" method="post" target="_self">
						<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
						<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
						{{- if .Reblog}}
						<input type="hidden" name="retweeted_by_id" value="{{.ID}}">
						{{- else}}
						<input type="hidden" name="retweeted_by_id" value="">
						{{- end}}
						<input type="submit" value="{{$rt}}" class="btn-link" 
							{{- if or (eq .Visibility "private") (eq .Visibility "direct")}}title="this status cannot be retweeted" disabled{{end}}>
						<a class="status-retweet-count" href="/retweetedby/{{.ID}}" title="click to see the the list"> 
							{{- if and (not $.Ctx.Settings.AntiDopamineMode) .ReblogsCount}}
								({{- DisplayInteractionCount .ReblogsCount}})
							{{- end}}
						</a>
					</form>
				</div>
				<div class="status-action">
					{{- $like := "like"}}{{- if .Favourited}}{{- $like = "unlike"}}{{- end}}
					<form class="status-like" data-action="{{$like}}" action="/{{$like}}/{{.ID}}" method="post" target="_self">
						<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
						<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
						{{- if .Reblog}}
						<input type="hidden" name="retweeted_by_id" value="{{.ID}}">
						{{- else}}
						<input type="hidden" name="retweeted_by_id" value="">
						{{- end}}
						<input type="submit" value="{{$like}}" class="btn-link">
						<a class="status-like-count" href="/likedby/{{.ID}}" title="click to see the the list"> 
							{{- if and (not $.Ctx.Settings.AntiDopamineMode) .FavouritesCount}}
								({{DisplayInteractionCount .FavouritesCount}})
							{{- end}}
						</a>
					</form>
				</div>
				{{- if and (.Pleroma) (.Pleroma.EmojiReactions) }}
				<div class="status-action">
				<a class="status-reactions" href="/reactions/{{.ID}}" title="click to see the the list">reactions</a>
				</div>
				{{- end}}
				{{- end}}
				<div class="status-action status-action-last">
				{{- if not .History}}
					<a class="status-time" href="{{if not .ShowReplies}}/thread/{{.ID}}{{end}}#status-{{.ID}}"
					{{- if $.Ctx.Settings.ThreadInNewTab}}target="_blank"{{end}}>
				{{- end}} 
					<time class="status-time status-time-relative{{if .History}} status-time-history{{end}}" datetime="{{FormatTimeRFC3339 .CreatedAt}}" {{if not .History}}title="{{FormatTimeRFC822 .CreatedAt}}"{{end}}>{{- TimeSince .CreatedAt}}
					</time>
				{{- if not .History}}
					</a>
				{{- end}}
				{{- if and (not .EditedAt.IsZero) (not .History)}}
					<a class="status-edits" href="/status/{{.ID}}/edits">*</a>
				{{- end}}
				{{- if .History}}
					<time class="status-time status-time-absolute {{if .History}} status-time-history{{end}}">({{FormatTimeRFC822 .CreatedAt}})</time>
				{{- end}}
				</div>
			</div>
		</div>
	</div>
	</article>
	{{- end}}
	{{- end}}
{{- end}}
{{- end}}