{{- with .Data}}
{{- template "header.tmpl" $.Ctx}}
<h1>Search {{EmojiFilter (HTML .User.DisplayName) .User.Emojis | Raw}}'s statuses</h1>
<form action="/usersearch/{{.User.ID}}" method="GET">
		<p>
			<label>
					Query <input type="text" name="q" value="{{.Q}}">
			</label>
			<button type="submit">Search</button>
		</p>
	<button type="submit">Search</button>
</form>
{{- range .Statuses}}
{{- template "status.tmpl" (WithContext (wrapRawStatus .) $.Ctx)}}
{{- else}}
{{- if .Q}}<p>No data found</p>{{end}}
{{- end}}
<nav class="pagination">
	{{- if .NextLink}}
		<a href="{{.NextLink}}">[next]</a>
	{{- end}}
</nav>
{{- template "footer.tmpl"}}
{{- end}}