<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="/static/favicon.png{{.Conf.AssetStamp}}">
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	{{- if .Target}}
	<base href="" target="{{.Target}}">
	{{- end}}
	{{- if .CSRFToken}}
	<meta name="csrf_token" content="{{.CSRFToken}}">
	{{- end}}
	{{- if .Settings.AntiDopamineMode}}
	<meta name="antidopamine_mode" content="{{.Settings}}">
	{{- end}}
	{{- if .RefreshInterval}}
	<meta http-equiv="refresh" content="{{.RefreshInterval}}">
	{{- end}}
	<title> {{if gt .Count 0}}({{.Count}}){{end}} {{.Title}} </title>
	<link rel="stylesheet" href="/static/style.css{{.Conf.AssetStamp}}">
	{{- if .Settings.FluorideMode}}
	<script src="/static/fluoride.js{{.Conf.AssetStamp}}"></script>
	{{- end}}
	{{- if .Settings.CSS}}
	<style>{{RawCSS .Settings.CSS}}</style>
	{{- end}}
	{{- if .Title}}
	<title>{{.Title}}</title>
	{{- end}}
</head>
<body {{if .Settings.DarkMode}}class="dark"{{end}}>