{{with $s := .Data}}
{{template "header.tmpl" .Ctx}}
<div class="page-title"> Quick Reply </div>

{{if .Ancestor}}
{{template "status.tmpl" (WithContext (wrapRawStatus .Ancestor) $.Ctx)}}
{{end}}
{{template "status.tmpl" (WithContext (wrapRawStatus .Status) $.Ctx)}}
{{template "postform.tmpl" (WithContext $s.PostContext $.Ctx)}}

{{template "footer.tmpl"}}
{{end}}
