{{- with .Data}}
{{- template "header.tmpl" $.Ctx}}
<h1>Reactions</h1>
{{- range .Reactions }}
{{- $number := len .Accounts }}
<h2 class="reaction-list-title">{{.Emoji}} ({{$number}})</h2>
{{- template "userlist.tmpl" (WithContext .Accounts $.Ctx)}}
{{- end}}
{{- template "footer.tmpl"}}
{{- end}}