{{- with .Data}}
{{- template "header.tmpl" $.Ctx}}
<div class="page-title"> Search </div>
<form class="search-form" action="/search" method="GET">
	<span class="post-form-field">
		<label for="query"> Query </label>
		<input id="query" name="q" value="{{.Q}}">
	</span>
	<span class="post-form-field">
		<label for="type"> Type </label>
		<select id="type" name="type">
			<option value="statuses" {{if eq .Type "statuses"}}selected{{end}}>Statuses</option>
			<option value="accounts" {{if eq .Type "accounts"}}selected{{end}}>Accounts</option>
		</select>
	</span>
	<button type="submit"> Search </button>
</form>
{{- if eq .Type "statuses"}}
{{- range .Statuses}}
{{- template "status.tmpl" (WithContext (wrapRawStatus .) $.Ctx)}}
{{- else}}
{{- if .Q}}<div class="no-data-found">No data found</div>{{end}}
{{- end}}
{{- end}}
{{- if eq .Type "accounts"}}
{{- template "userlist.tmpl" (WithContext .Users $.Ctx)}}
{{- end}}
<div class="pagination">
	{{- if .NextLink}}
		<a href="{{.NextLink}}">[next]</a>
	{{- end}}
</div>
{{- template "footer.tmpl"}}
{{- end}}