{{- template "header.tmpl" $.Ctx}}
<h1>Edits <a class="page-link" href="{{$.Ctx.Referrer}}" accesskey="T" title="Refresh (T)">refresh</a></h1>
{{- range .Data}}
{{- template "status.tmpl" WithContext . $.Ctx}}
{{- end}}
{{- template "footer.tmpl"}}