{{- with .Data}}
<div class="user-list-item">
	<div class="user-list-profile-img">
		<a class="img-link" href="/user/{{.ID}}">
			<img class="status-profile-img" src="{{.Avatar}}" title="@{{.Acct}}" alt="@{{.Acct}}" height="48">
		</a>
	</div>
	<div class="user-list-name">
		<bdi class="status-dname">{{EmojiFilter (HTML .DisplayName) .Emojis | Raw}}</bdi>
		<br>
		<a class="img-link" href="/user/{{.ID}}"><span class="status-uname">@{{.Acct}}</span></a>
	</div>
</div>
{{- end}}