.status-container-container {
	margin: 16px 0;
	padding: 0 4px;
	border-left: 4px solid transparent;
}

.status-container-container:target {
	border-color: #777777;
}

.status-container {
	display: flex;
}

.status-content {
	margin: 4px 0 8px 0;
}

.status-content p {
	margin: 0px;
}

.status-profile-img {
	height: 48px;
	width: 48px;
	margin-right: 8px;
	object-fit: contain;
}

.status {
}

.status a {
	text-decoration: none;
}

.status-dname {
	font-weight: 800;
}

.status-uname {
	font-style: italic;
	font-size: 10pt;
}

.status-emoji {
	height: 20px;
	margin-bottom: -4px;
	witdth: auto;
}

.name-emoji {
	height: 20px;
	witdth: auto;
}

.status-action {
	display: flex;
	margin-top: 4px;
}

.status-action a {
	display: flex;
	margin: 0 4px;
	width: 64px;
	text-decoration: none;
	color: #333333;
}

.status-action a:hover {
	color: #777777;
}

.status-action .icon {
	margin: 0 4px 0 0;
}

.status-action a.status-time {
	width: auto;
}

.icon.dripicons-star.liked {
	color: yellow;
}

.icon.dripicons-retweet.retweeted {
	color: green;
}

.status-image,
.status-video {
	max-height: 180px;
	width: auto;
}

.page-title {
	font-size: 23pt;
}

.navigation {
	margin: 4px 0;
}

.navigation a {
	margin-right: 8px;
}

.timeline-post-form {
	margin: 8px 0;
}

.signin-form {
	margin: 8px 0;
}

.signin-form input {
	margin: 4px 0;
}

.retweet-info {
	margin: 8px 0 4px 24px;	
}

.retweet-info .status-profile-img {
	height: 24px;
	width: 24px;
	margin-bottom: -8px;
	margin-right: 0px;
}

.retweet-info .status-dname{
	margin-left: 4px
}

.retweet-info .icon.dripicons-retweet.retweeted {
	vertical-align: sub;
}

.post-content {
	padding: 4px;
	font-size: 11pt;
	font-family: initial;
}

.pagination {
	margin: 4px;
}

.pagination a {
	margin: 0 8px;
}

.notification-container {
	margin: 16px 0;
	padding: 0 4px;
	border-left: 4px solid transparent;
}

.notification-container.unread {
	border-color: #777777;
}

.notification-follow-container,
.notification-like-container,
.notification-retweet-container {
	display: flex;
}

.notification-follow-uname {
	margin-top: 8px;
}

.status-reply-to {
	vertical-align: center;
	font-size: 10pt
}

.status-reply-container .icon {
	font-size: 10pt;
	vertical-align: sub;
	margin-right: -2px;
}

.status-reply-text {
	font-size: 10pt;
}

.status-reply {
	font-size: 10pt;
}

.status-reply-info-divider {
	margin: 0 4px;
}
