{{template "header.tmpl" .HeaderData}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> About </div>

<div>
	<p>
		A web client for <a href="https://pleroma.social" target="_blank">Mastodon Network</a>.
	</p>
	<p>
		The source code is released under 
		<a href="https://creativecommons.org/share-your-work/public-domain/cc0" target="_blank">CC0</a> 
		and is available on 
		<a href="https://git.freesoftwareextremist.com/web" target="_blank">git.freesoftwareextremist.com/web</a>.
	</P>
</div>

{{template "footer.tmpl"}}

