{{template "header.tmpl"}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Emojis </div>

<div class="emoji-list-container">
	{{range .Emojis}}
	<div class="emoji">
		<img class="emoji-img" src="{{.URL}}" alt="{{.ShortCode}}" />
		<div class="emoji-shortcode">:{{.ShortCode}}:</div>
	</div>
	{{end}}
</div>

{{template "footer.tmpl"}}


