{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Error </div>

<div class="error-text"> {{.Error}} </div>
<div>
	<a href="/timeline/home">Home</a>
	<a href="/signin" target="_top">Sign In</a>
</div>

{{template "footer.tmpl"}}
{{end}}
