{{template "header.tmpl"}}
<div class="page-title"> Error </div>
<div class="error-text"> {{.}} </div>
<div>
<a href="/timeline/home">Home</a>
<a href="/signin">Sign In</a>
</div>
{{template "footer.tmpl"}}

