{{with .Data}}
{{template "header.tmpl" (WithContext .HeaderData $.Ctx)}}
{{template "navigation.tmpl" (WithContext .NavbarData $.Ctx)}}
<div class="page-title"> Followers </div>

{{template "userlist.tmpl" (WithContext .Users $.Ctx)}}
<div class="pagination">
	{{if .HasNext}}
		<a href="{{.NextLink}}">next</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
