{{with .Data}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<link rel="icon" type="image/png" href="/static/favicon.png">
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	{{if .Target}}
	<base href="" target="{{.Target}}">
	{{end}}
	{{if .CSRFToken}}
	<meta name="csrf_token" content="{{.CSRFToken}}">
	{{end}}
	{{if $.Ctx.AntiDopamineMode}}
	<meta name="antidopamine_mode" content="{{$.Ctx.AntiDopamineMode}}">
	{{end}}
	{{if .RefreshInterval}}
	<meta http-equiv="refresh" content="{{.RefreshInterval}}">
	{{end}}
	<title> {{if gt .Count 0}}({{.Count}}){{end}} {{.Title}} </title>
	<link rel="stylesheet" href="/static/style.css">
	{{if .CustomCSS}}
	<link rel="stylesheet" href="{{.CustomCSS}}">
	{{end}}
	{{if $.Ctx.FluorideMode}}
	<script src="/static/fluoride.js"></script>
	{{end}}
	{{if $.Ctx.UserCSS}}
	<style>{{$.Ctx.UserCSS}}</style>
	{{end}}
</head>
<body {{if $.Ctx.DarkMode}}class="dark"{{end}}>
{{end}}
