<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	<title>{{if gt .NotificationCount 0}}({{.NotificationCount}}) {{end}}{{.Title}}</title>
	<link rel="stylesheet" href="/static/main.css">
	{{if .CustomCSS}}
	<link rel="stylesheet" href="{{.CustomCSS}}">
	{{end}}
	<link rel="stylesheet" href="/static/fonts/fork-awesome.css">
</head>
<body>
