{{with .Data}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta content='width=device-width, initial-scale=1' name='viewport'>
	{{if .CSRFToken}}
	<meta name="csrf_token" content="{{.CSRFToken}}">
	{{end}}
	{{if .AutoRefresh}}
	<meta http-equiv="refresh" content="30">
	{{end}}
	<title>{{.Title}}</title>
	<link rel="stylesheet" href="/static/style.css">
	{{if .CustomCSS}}
	<link rel="stylesheet" href="{{.CustomCSS}}">
	{{end}}
	{{if $.Ctx.FluorideMode}}
	<script src="/static/fluoride.js"></script>
	{{end}}
</head>
<body {{if $.Ctx.DarkMode}}class="dark"{{end}}>
{{end}}
