{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Liked By </div>

{{template "userlist.tmpl" (WithContext .Users $.Ctx)}}

{{template "footer.tmpl"}}
{{end}}
