{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="user-info">
	<div class="user-info-img-container">
		<a class="img-link" href="/timeline/home" title="Home (1)">
			<img class="user-info-img" src="{{.User.Avatar}}" alt="profile-avatar" height="64" />
		</a>
	</div>
	<div class="user-info-details-container">
		<div class="user-info-details-name">
			<bdi class="status-dname"> {{EmojiFilter (html .User.DisplayName) .User.Emojis}} </bdi>  
			<a class="nav-link" href="/user/{{.User.ID}}" accesskey="0" title="User profile (0)">
				<span class="status-uname"> @{{.User.Acct}} </span>
			</a>
		</div>
		<div class="user-info-details-nav">
			<a class="nav-link" href="/timeline/home" accesskey="1" title="Home timeline (1)">home</a>
			<a class="nav-link" href="/timeline/direct" accesskey="2" title="Direct timeline (2)">direct</a>
			<a class="nav-link" href="/timeline/local" accesskey="3" title="Local timeline (3)">local</a>
			<a class="nav-link" href="/timeline/twkn" accesskey="4" title="The Whole Known Netwwork (4)">twkn</a>
			<a class="nav-link" href="/timeline/remote" accesskey="5" title="Remote timeline (5)">remote</a>
			<a class="nav-link" href="/search" accesskey="6" title="Search (6)">search</a>
		</div>
		<div>
			<a class="nav-link" href="/lists" accesskey="7" title="Lists (7)">lists</a>
			<a class="nav-link" href="/settings" target="_top" accesskey="8" title="Settings (8)">settings</a>
			<form class="signout" action="/signout" method="post" target="_top">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
				<input type="submit" value="signout" class="btn-link nav-link" title="Signout">
			</form>
			<a class="nav-link" href="/about" accesskey="9" title="About (9)">about</a>
		</div>
	</div>
</div>

{{template "postform.tmpl" (WithContext .PostContext $.Ctx)}}

{{template "footer.tmpl"}}
{{end}}
