{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="user-info">
	<div class="user-info-img-container">
		<a class="img-link" href="/timeline/home" title="home">
			<img class="user-info-img" src="{{.User.AvatarStatic}}" alt="profile-avatar" height="64" />
		</a>
	</div>
	<div class="user-info-details-container">
		<div>
			<span class="status-dname"> {{EmojiFilter .User.DisplayName .User.Emojis}} </span>  
			<a class="nav-link" href="/user/{{.User.ID}}">
				<span class="status-uname"> {{.User.Acct}} </span>
			</a>
		</div>
		<div>
			<a class="nav-link" href="/timeline/home">home</a>
			<a class="nav-link" href="/timeline/direct">direct</a>
			<a class="nav-link" href="/timeline/local">local</a>
			<a class="nav-link" href="/timeline/twkn">twkn</a>
			<a class="nav-link" href="/search">search</a>
			<a class="nav-link" href="/about">about</a>
		</div>
		<div>
			<a class="nav-link" href="/settings" target="_top">settings</a>
			<form class="signout" action="/signout" method="post" target="_top">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="submit" value="signout" class="btn-link nav-link">
			</form>
		</div>
	</div>
</div>

{{template "postform.tmpl" (WithContext .PostContext $.Ctx)}}

{{template "footer.tmpl"}}
{{end}}
