{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="notification-title-container">
	<span class="page-title">
		Notifications
		{{if and (not $.Ctx.AntiDopamineMode) (gt .UnreadCount 0)}}
			({{.UnreadCount }})
		{{end}}
	</span>
	<a class="notification-refresh" href="/notifications" target="_self" accesskey="R" title="Refresh (R)">refresh</a>
	{{if .ReadID}}
	<form class="notification-read" action="/notifications/read?max_id={{.ReadID}}" method="post" target="_self">
		<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
		<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
		<input type="submit" value="read" class="btn-link" accesskey="C" title="Clear unread notifications (C)">
	</form>
	{{end}}
</div>

{{range .Notifications}}
<div class="notification-container {{.Type}} {{if .Pleroma}}{{if not .Pleroma.IsSeen}}unread{{end}}{{end}}">
	{{if eq .Type "follow"}}
	<div class="notification-follow-container">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}">
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="@{{.Account.Acct}}" alt="profile-avatar" height="48" />
			</a>
		</div>
		<div class="notification-follow">
			<div class="notification-info-text">
				<bdi class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </bdi>  
				<span class="notification-text"> followed you - 
					<time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
				</span>
			</div>
			<div>
				<a href="/user/{{.Account.ID}}"> <span class="status-uname"> @{{.Account.Acct}} </span> </a>
			</div>
		</div>
	</div>

	{{else if eq .Type "follow_request"}}
	<div class="notification-follow-container">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}">
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="@{{.Account.Acct}}" alt="profile-avatar" height="48" />
			</a>
		</div>
		<div class="notification-follow">
			<div class="notification-info-text">
				<bdi class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </bdi>  
				<span class="notification-text"> wants to follow you - 
					<time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
				</span>
			</div>
			<div>
				<a href="/user/{{.Account.ID}}"> <span class="status-uname"> @{{.Account.Acct}} </span> </a>
			</div>
			<form class="d-inline" action="/accept/{{.Account.ID}}" method="post" target="_self">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
				<input type="submit" value="accept" class="btn-link">
			</form>
			-
			<form class="d-inline" action="/reject/{{.Account.ID}}" method="post" target="_self">
				<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
				<input type="hidden" name="referrer" value="{{$.Ctx.Referrer}}">
				<input type="submit" value="reject" class="btn-link">
			</form>
		</div>
	</div>

	{{else if eq .Type "mention"}}
	{{template "status" (WithContext .Status $.Ctx)}}

	{{else if eq .Type "reblog"}}
	<div class="retweet-info">
		<a class="img-link" href="/user/{{.Account.ID}}">
			<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="@{{.Account.Acct}}" alt="avatar" height="48" />
		</a>
		<a href="/user/{{.Account.ID}}">
			<span class="status-uname"> @{{.Account.Acct}} </span>
		</a>
		<span class="notification-text"> retweeted your post - 
			<time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
		</span>
	</div>
	{{template "status" (WithContext .Status $.Ctx)}}

	{{else if eq .Type "favourite"}}
	<div class="retweet-info">
		<a class="img-link" href="/user/{{.Account.ID}}">
			<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="@{{.Account.Acct}}" alt="avatar" height="48" />
		</a>
		<a href="/user/{{.Account.ID}}">
			<span class="status-uname"> @{{.Account.Acct}} </span>
		</a>
		<span class="notification-text"> liked your post - 
			<time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
		</span>
	</div>
	{{template "status" (WithContext .Status $.Ctx)}}

	{{else}}
	<div class="retweet-info">
		<a class="img-link" href="/user/{{.Account.ID}}">
			<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="@{{.Account.Acct}}" alt="avatar" height="48" />
		</a>
		<a href="/user/{{.Account.ID}}">
			<span class="status-uname"> @{{.Account.Acct}} </span>
		</a>
		<span class="notification-text"> {{.Type}} - 
			<time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
		</span>
	</div>
	{{if .Status}}{{template "status" (WithContext .Status $.Ctx)}}{{end}}
	{{end}}
</div>
{{end}}

<div class="pagination">
	{{if .NextLink}}
		<a href="{{.NextLink}}" target="_self">[next]</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
