{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="notification-title-container">
	<div class="notification-title">
		Notifications
		{{if and (not $.Ctx.AntiDopamineMode) (gt .UnreadCount 0)}}
			({{.UnreadCount }})
		{{end}}
	</div>
	<a class="notification-refresh" href="/notifications" target="_self">refresh</a>
	{{if .ReadID}}
	<form action="/notifications/read?max_id={{.ReadID}}" method="post" target="_self">
		<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
		<input type="submit" value="read" class="btn-link">
	</form>
	{{end}}
</div>

{{range .Notifications}}
<div class="notification-container {{if .Pleroma}}{{if not .Pleroma.IsSeen}}unread{{end}}{{end}}">
	{{if eq .Type "follow"}}
	<div>
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}">
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="{{.Account.Acct}}" alt="profile-avatar" height="48" />
			</a>
		</div>
		<div class="notification-follow">
			<div class="notification-info-text">
				<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
				<span> followed you </span>
				<span>
					- <time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
				</span>
			</div>
			<div class="notification-follow-uname">
				@{{.Account.Acct}}
			</div>
		</div>
	</div>

	{{else if eq .Type "mention"}}
	{{template "status" (WithContext .Status $.Ctx)}}

	{{else if eq .Type "reblog"}}
	<div class="retweet-info">
		<a class="img-link" href="/user/{{.Account.ID}}">
			<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="{{.Account.Acct}}" alt="avatar" height="48" />
		</a>
		<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
		<span> retweeted your post </span>
		<span>
			- <time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
		</span>
	</div>
	{{template "status" (WithContext .Status $.Ctx)}}

	{{else if eq .Type "favourite"}}
	<div class="retweet-info">
		<a class="img-link" href="/user/{{.Account.ID}}">
			<img class="status-profile-img" src="{{.Account.AvatarStatic}}" title="{{.Account.Acct}}" alt="avatar" height="48" />
		</a>
		<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
		<span> liked your post </span>
		<span>
			- <time datetime="{{FormatTimeRFC3339 .CreatedAt}}" title="{{FormatTimeRFC822 .CreatedAt}}">{{TimeSince .CreatedAt}}</time> 
		</span>
	</div>
	{{template "status" (WithContext .Status $.Ctx)}}
	{{end}}
</div>
{{end}}

<div class="pagination">
	{{if .NextLink}}
		<a href="{{.NextLink}}" target="_self">next</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
