{{template "header.tmpl" .HeaderData}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Notifications </div>

{{range .Notifications}}
<div class="notification-container {{if .Pleroma}}{{if not .Pleroma.IsSeen}}unread{{end}}{{end}}">
	{{if eq .Type "follow"}}
	<div class="notification-follow-container">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}" >
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" alt="profile-avatar" />
			</a>
		</div>
		<div>
			<div class="notification-info-text">
				<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
				<img class="icon" src="{{GetIcon "user-plus" .DarkMode}}" alt="followed" />
				<span> followed you </span>
			</div>
			<div class="notification-follow-uname">
				@{{.Account.Acct}}
			</div>
		</div>
	</div>

	{{else if eq .Type "mention"}}
	{{template "status" .Status}}

	{{else if eq .Type "reblog"}}
	<div class="notification-retweet-container">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}" >
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" alt="profile-avatar" />
			</a>
		</div>
		<div>
			<div class="notification-info-text">
				<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
				<img class="icon" src="{{GetIcon "retweeted" .DarkMode}}" alt="retweeted" />
				<span> retweeted your post </span>
			</div>
			{{template "status" .Status}}
		</div>
	</div>

	{{else if eq .Type "favourite"}}
	<div class="notification-like-container">
		<div class="status-profile-img-container">
			<a class="img-link" href="/user/{{.Account.ID}}" >
				<img class="status-profile-img" src="{{.Account.AvatarStatic}}" alt="profile-avatar" />
			</a>
		</div>
		<div>
			<div class="notification-info-text">
				<span class="status-dname"> {{EmojiFilter .Account.DisplayName .Account.Emojis}} </span>  
				<img class="icon" src="{{GetIcon "liked" .DarkMode}}" alt="liked" />
				<span> liked your post </span>
			</div>
			{{template "status" .Status}}
		</div>
	</div>
	{{end}}
</div>
{{end}}

<div class="pagination">
	{{if .HasNext}}
		<a href="{{.NextLink}}">next</a>
	{{end}}
</div>
{{template "footer.tmpl"}}
