{{with .Data}}
<form class="post-form" action="/post" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="csrf_token" value="{{$.Ctx.CSRFToken}}">
	{{if .ReplyContext}}
	<input type="hidden" name="reply_to_id" value="{{.ReplyContext.InReplyToID}}" />
	<label for="post-content" class="post-form-title"> Reply to {{.ReplyContext.InReplyToName}} </label>
	{{else}}
	<label for="post-content" class="post-form-title"> New post </label>
	{{end}}
	<a class="post-form-emoji-link" href="/emojis" target="_blank" title="emoji list">
		emoji list
	</a>
	<div class="post-form-content-container">
		<textarea id="post-content" name="content" class="post-content" cols="34" rows="5">{{if .ReplyContext}}{{.ReplyContext.ReplyContent}}{{end}}</textarea>
	</div>
	<div>
		{{if gt (len .Formats) 0}}
		<span class="post-form-field">
			<label for="post-format"> Format </label>
			<select id="post-format" name="format">
				{{range .Formats}} <option value="{{.Type}}">{{.Name}}</option> {{end}}
			</select>
		</span>
		{{end}}
		<span class="post-form-field">
			<label for="post-visilibity"> Scope </label>
			<select id="post-visilibity" name="visibility">
				<option value="public" {{if eq .DefaultVisibility "public"}}selected{{end}}>Public</option>
				<option value="unlisted" {{if eq .DefaultVisibility "unlisted"}}selected{{end}}>Unlisted</option>
				<option value="private" {{if eq .DefaultVisibility "private"}}selected{{end}}>Private</option>
				<option value="direct" {{if eq .DefaultVisibility "direct"}}selected{{end}}>Direct</option>
			</select>
		</span>
		<span class="post-form-field">
			<input type="checkbox" id="nsfw-checkbox" name="is_nsfw" value="on">
			<label for="nsfw-checkbox"> Is NSFW </label>
		</span>
	</div>
	<div>
		<span class="post-form-field">
			<label for ="post-file-picker"> Attachments </label>
			<input id="post-file-picker" type="file" name="attachments" multiple>
		</span>
	</div>
	<button type="submit"> Post </button>
</form>
{{end}}

