{{with .Data}}
{{template "header.tmpl" (WithContext .HeaderData $.Ctx)}}
{{template "navigation.tmpl" (WithContext .NavbarData $.Ctx)}}
<div class="page-title"> Retweeted By </div>

{{template "userlist.tmpl" (WithContext .Users $.Ctx)}}

{{template "footer.tmpl"}}
{{end}}
