{{with .Data}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
	<link rel="icon" type="image/png" href="/static/favicon.png">
	<title>{{.Title}}</title>
</head>
<frameset cols="420px,*">
	<frameset rows="316px,*">
		<frame name="nav" src="/nav"> 
		<frame name="notification" src="/notifications"> 
	</frameset>
	<frame name="main" src="/timeline/home"> 
</frameset>
</html>
{{end}}
