{{template "header.tmpl" .HeaderData}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Settings </div>

<form id="settings-form" action="/settings" method="POST">
	<div class="settings-form-field">
		<label for="visibility"> Default scope </label>
		<select id="visibility" name="visibility">
			<option value="public" {{if eq .Settings.DefaultVisibility "public"}}selected{{end}}>Public</option>
			<option value="unlisted" {{if eq .Settings.DefaultVisibility "unlisted"}}selected{{end}}>Unlisted</option>
			<option value="private" {{if eq .Settings.DefaultVisibility "private"}}selected{{end}}>Private</option>
			<option value="direct" {{if eq .Settings.DefaultVisibility "direct"}}selected{{end}}>Direct</option>
		</select>
	</div>
	<div class="settings-form-field">
		<input id="copy-scope" name="copy_scope" type="checkbox" value="true" {{if .Settings.CopyScope}}checked{{end}}>
		<label for="copy-scope"> Copy scope when replying </label>
	</div>
	<div class="settings-form-field">
		<input id="thread-tab" name="thread_in_new_tab" type="checkbox" value="true" {{if .Settings.ThreadInNewTab}}checked{{end}}>
		<label for="thread-tab"> Open threads in new tab from timeline </label>
	</div>
	<div class="settings-form-field">
		<input id="mask-nsfw" name="mask_nsfw" type="checkbox" value="true" {{if .Settings.MaskNSFW}}checked{{end}}>
		<label for="mask-nsfw"> Mask NSFW Attachments </label>
	</div>
	<button type="submit"> Save </button>
</form>

{{template "footer.tmpl"}}
