{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Bloat </div>
<div class="signin-desc">
	A web client for <a href="https://pleroma.social" target="_blank">Mastadon Network</a>.
</div>

<form class="signin-form" action="/signin" method="post">
	Enter the domain name of your instance to continue
	<br/>
	<input type="text" name="instance" placeholder="example.com" required>
	<br/>
	<button type="submit"> Signin </button>
</form>

<p>
	See
	<a href="https://git.freesoftwareextremist.com/bloat" target="_blank">git.freesoftwareextremist.com/bloat</a>
	for more details.
</P>

{{template "footer.tmpl"}}
{{end}}
