{{template "header.tmpl"}}
<h3> Signin </h3>
<a href="/"> Home </a>
<form action="/signin" method="post">
	<input type="text" name="instance" placeholder="instance">
	<br>
	<button type="submit"> Submit </button>
</form>
{{template "footer.tmpl"}}
