{{template "header.tmpl"}}
<div class="page-title"> Signin </div>

<form class="signin-form" action="/signin" method="post">
	<input type="text" name="instance" placeholder="instance" required>
	<br>
	<button type="submit"> Submit </button>
</form>

{{template "footer.tmpl"}}
