{{template "header.tmpl"}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Thread </div>

{{range .Statuses}}

{{template "status.tmpl" .}}
{{if $.ReplyContext}}{{if eq .ID $.ReplyContext.InReplyToID}}
{{template "postform.tmpl" $.ReplyContext}}
{{end}}{{end}}

{{end}}

{{template "footer.tmpl"}}
