{{template "header.tmpl"}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Thread </div>

{{range .Statuses}}
{{template "status.tmpl" .}}

{{if eq .ID $.ReplyToID}}
<form class="timeline-post-form" action="/post" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="reply_to_id" value="{{$.ReplyToID}}" />
	<label for="post-content"> Reply to {{.Account.DisplayName}} </label>
	<br/>
	<textarea id="post-content" name="content" class="post-content" cols="50" rows="5">{{$.ReplyContent}}</textarea>
	<br/>
	Attachments <input id="post-file-picker" type="file" name="attachments" multiple>
	<br/>
	<button type="submit"> Post </button>
</form>
{{end}}

{{end}}

{{template "footer.tmpl"}}
