{{template "header.tmpl" .HeaderData}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Thread </div>

{{range .Statuses}}

{{template "status.tmpl" .}}
{{if $.PostContext.ReplyContext}}{{if eq .ID $.PostContext.ReplyContext.InReplyToID}}
{{template "postform.tmpl" $.PostContext}}
{{end}}{{end}}

{{end}}

{{template "footer.tmpl"}}
