{{template "header.tmpl"}}
{{template "navigation.tmpl" .NavbarData}}
<div class="page-title"> Timeline </div>

<form class="timeline-post-form" action="/post" method="POST" enctype="multipart/form-data">
	<label for="post-content"> New Post </label>
	<br/>
	<textarea id="post-content" name="content" class="post-content" cols="50" rows="5"></textarea>
	<br/>
	Attachments <input id="post-file-picker" type="file" name="attachments" multiple>
	<br/>
	<button type="submit"> Post </button>
</form>

{{range .Statuses}}
{{template "status.tmpl" .}}
{{end}}

<div class="pagination">
	{{if .HasPrev}}
		<a href="{{.PrevLink}}">prev</a>
	{{end}}
	{{if .HasNext}}
		<a href="{{.NextLink}}">next</a>
	{{end}}
</div>
{{template "footer.tmpl"}}
