{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> {{.Title}} </div>

{{range .Statuses}}
{{template "status.tmpl" (WithContext . $.Ctx)}}
{{end}}

<div class="pagination">
	{{if .PrevLink}}
		<a href="{{.PrevLink}}">prev</a>
	{{end}}
	{{if .NextLink}}
		<a href="{{.NextLink}}">next</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
