{{with .Data}}
{{template "header.tmpl" (WithContext .CommonData $.Ctx)}}
<div class="page-title"> Search {{EmojiFilter (HTML .User.DisplayName) .User.Emojis | Raw}}'s statuses </div>

<form class="search-form" action="/usersearch/{{.User.ID}}" method="GET">
	<span class="post-form-field">
		<label for="query"> Query </label>
		<input id="query" name="q" value="{{.Q}}">
	</span>
	<button type="submit"> Search </button>
</form>

{{range .Statuses}}
{{template "status.tmpl" (WithContext . $.Ctx)}}
{{else}}
{{if .Q}}<div class="no-data-found">No data found</div>{{end}}
{{end}}

<div class="pagination">
	{{if .NextLink}}
		<a href="{{.NextLink}}">[next]</a>
	{{end}}
</div>

{{template "footer.tmpl"}}
{{end}}
